Datafactory/pipeline/PL_SET_AND_APPEND_VARIABLES.json
{
	"name": "PL_SET_AND_APPEND_VARIABLES",
	"properties": {
		"activities": [
			{
				"name": "FE v_items",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.p_items",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "SV v_loop_number",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_loop_number",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "AV v_appended_array",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_appended_array",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "SV v_outside_loop",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FE v_items",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_outside_loop",
					"value": {
						"value": "@variables('v_loop_number')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SV v_final_array",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SV v_outside_loop",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_final_array",
					"value": {
						"value": "@variables('v_appended_array')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_items": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5,
					6,
					7,
					8,
					9,
					10,
					11,
					12,
					13,
					14,
					15,
					16,
					17,
					18,
					19,
					20
				]
			}
		},
		"variables": {
			"v_loop_number": {
				"type": "Integer"
			},
			"v_outside_loop": {
				"type": "Integer"
			},
			"v_appended_array": {
				"type": "Array"
			},
			"v_final_array": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "VARIABLES"
		},
		"annotations": [],
		"lastPublishTime": "2024-05-24T13:14:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}